@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.SimpleContentPage>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
	Layout = "Master1.cshtml";
}
<div class="main-content">
    <h1>@Umbraco.Field("pageTitle", altText: "PLACEHOLDER TEXT")</h1>
    <article>@Umbraco.Field("bodyContent", altText: "PLACEHOLDER TEXT")</article>
</div>