@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
	var selection = Model.Content.Site().FirstChild("articlesMain").Children("articlesItem")
						.Where(x => x.IsVisible());
}
<ul>
	@foreach(var item in selection){
		<li>
			<a href="@item.Url">@item.Name</a>
		</li>
	}
</ul>

