<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [<!ELEMENT articlesItem ANY>
<!ATTLIST articlesItem id ID #REQUIRED>
<!ELEMENT articlesMain ANY>
<!ATTLIST articlesMain id ID #REQUIRED>
<!ELEMENT simpleContentPage ANY>
<!ATTLIST simpleContentPage id ID #REQUIRED>
<!ELEMENT homePage ANY>
<!ATTLIST homePage id ID #REQUIRED>
<!ELEMENT contentBase ANY>
<!ATTLIST contentBase id ID #REQUIRED>
<!ELEMENT feature ANY>
<!ATTLIST feature id ID #REQUIRED>
<!ELEMENT home ANY>
<!ATTLIST home id ID #REQUIRED>
<!ELEMENT navigationBase ANY>
<!ATTLIST navigationBase id ID #REQUIRED>
<!ELEMENT blog ANY>
<!ATTLIST blog id ID #REQUIRED>
<!ELEMENT blogpost ANY>
<!ATTLIST blogpost id ID #REQUIRED>
<!ELEMENT contact ANY>
<!ATTLIST contact id ID #REQUIRED>
<!ELEMENT contentPage ANY>
<!ATTLIST contentPage id ID #REQUIRED>
<!ELEMENT people ANY>
<!ATTLIST people id ID #REQUIRED>
<!ELEMENT person ANY>
<!ATTLIST person id ID #REQUIRED>
<!ELEMENT product ANY>
<!ATTLIST product id ID #REQUIRED>
<!ELEMENT products ANY>
<!ATTLIST products id ID #REQUIRED>
]>
<root id="-1">
  <homePage id="1149" key="34f89141-9c28-40c6-be4e-262b7033a962" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2017-09-24T16:28:13" updateDate="2017-09-24T16:29:38" nodeName="HomePage" urlName="homepage" path="-1,1149" isDoc="" nodeType="1145" creatorName="David Strickland" writerName="David Strickland" writerID="0" template="1144" nodeTypeAlias="homePage">
    <pageTitle><![CDATA[Home Page]]></pageTitle>
    <bodyText><![CDATA[<p>This is some body content!</p>]]></bodyText>
    <footerText><![CDATA[Copyright footer text]]></footerText>
    <simpleContentPage id="1153" key="505af81b-a050-4fa1-bd33-bed4241847d2" parentID="1149" level="2" creatorID="0" sortOrder="0" createDate="2017-09-24T17:56:42" updateDate="2017-09-24T18:13:40" nodeName="Content Page" urlName="content-page" path="-1,1149,1153" isDoc="" nodeType="1152" creatorName="David Strickland" writerName="David Strickland" writerID="0" template="1151" nodeTypeAlias="simpleContentPage">
      <pageTitle><![CDATA[This is the content page]]></pageTitle>
      <bodyContent><![CDATA[<p>Some content goes here mang</p>]]></bodyContent>
    </simpleContentPage>
    <articlesMain id="1161" key="96d84074-4be7-4531-8184-6e21656be0d5" parentID="1149" level="2" creatorID="0" sortOrder="1" createDate="2017-09-24T18:21:39" updateDate="2017-09-24T18:24:11" nodeName="Articles" urlName="articles" path="-1,1149,1161" isDoc="" nodeType="1157" creatorName="David Strickland" writerName="David Strickland" writerID="0" template="1156" nodeTypeAlias="articlesMain">
      <articlesTitle><![CDATA[Articles written for site]]></articlesTitle>
      <articlesBodyText><![CDATA[<p>Main body text for all articles</p>]]></articlesBodyText>
      <articlesItem id="1162" key="f87a885e-b3b9-47ed-994e-8fd540b9704f" parentID="1161" level="3" creatorID="0" sortOrder="0" createDate="2017-09-24T18:22:20" updateDate="2017-09-24T18:22:20" nodeName="Article one" urlName="article-one" path="-1,1149,1161,1162" isDoc="" nodeType="1160" creatorName="David Strickland" writerName="David Strickland" writerID="0" template="1159" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Article One]]></articleTitle>
        <articleContent><![CDATA[<p>Content for first article</p>]]></articleContent>
      </articlesItem>
      <articlesItem id="1163" key="5cf2c1c6-b8c3-46f5-9905-1e77aef215f0" parentID="1161" level="3" creatorID="0" sortOrder="1" createDate="2017-09-24T18:22:41" updateDate="2017-09-24T18:22:41" nodeName="Article Two" urlName="article-two" path="-1,1149,1161,1163" isDoc="" nodeType="1160" creatorName="David Strickland" writerName="David Strickland" writerID="0" template="1159" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Article Two]]></articleTitle>
        <articleContent><![CDATA[<p>Content for Article Two</p>]]></articleContent>
      </articlesItem>
      <articlesItem id="1164" key="a13a1939-2dd9-4689-8bff-a8e2c2952b41" parentID="1161" level="3" creatorID="0" sortOrder="2" createDate="2017-09-24T18:23:02" updateDate="2017-09-24T18:23:02" nodeName="Article Three" urlName="article-three" path="-1,1149,1161,1164" isDoc="" nodeType="1160" creatorName="David Strickland" writerName="David Strickland" writerID="0" template="1159" nodeTypeAlias="articlesItem">
        <articleTitle><![CDATA[Article Three]]></articleTitle>
        <articleContent><![CDATA[<p>Content for Article Three</p>]]></articleContent>
      </articlesItem>
    </articlesMain>
  </homePage>
</root>